<div class="container card">
  <h1>Projects Page</h1>
  <form class="form-group" action="/projects" method="post" name="projects">

    <button type="submit" class="btn btn-info"name="button">Show All Projects</button>
  </form>
  
  <button type="button" name="button">
    <a href="/">Return Home</a>
  </button>
</div>
