<div class="container">
  <div class="header container">
    <h1>Projects Page</h1>
  </div>

  <div class="allProjects">
    <h2><%= @projects_list.title  %> "test"   </h2>

  </div>

  <form class="container form-group button" action="/projects" method="post" name="projects">
    <button class="container"  type="submit" class="btn btn-info"name="button">Show All Projects</button>
  </form>

  <form class="container form-group button" action="/projects" method="post" name="projects">
    <button class="container"  type="submit" class="btn btn-info"name="button">Add A Project </button>
  </form>

  <form class="container form-group" action="/projects" method="update" name="projects">
    <button class="container"  type="submit" class="btn btn-info"name="button">Update A Project</button>
  </form>

  <form class="container form-group" action="/projects" method="delete" name="projects">
    <button class="container"  type="submit" class="btn btn-info"name="button">Delete A Project</button>
  </form>

  <button class="container" id="homepage" type="button" name="button">
    <a href="/">Return Home</a>
  </button>
</div>
